.emptyArrHandler {
    text-align: center;
    color: rgba(0, 0, 0, .8);
    font-weight: 600;
    margin-top: 200px;
    font-size: 24px;
}

.carwashList {
    width: 95%;
    min-width: 1200px;
    max-width: 1600px;
    margin: 45px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}