.sevice {
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
    
}

.serviceName {
    font-weight: 500;
    font-size: 20px;
    width: auto;
    max-width: 200px;
    min-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}