.myButton {
    border-radius: 8px;
    padding: 0 24px;
    background: #F3FAFB;
    border: none;
    font-weight: 500;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    min-height: 56px;
}