.headerWrapper {
    background: #F3FAFB;
    border-radius: 8px;
    width: 95%;
    min-width: 1200px;
    max-width: 1600px;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 24px auto 0 auto;
    justify-content: space-between;
}

.headerBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 0 10px;
}

.bellBtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.settingsWrapper {
    cursor: pointer;
}

.profileWrapper {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-left: 5px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    padding-left: 20px;
}