.orderCard {
    background-color: #F3FAFB;
    width: 100%;
    height: 80px;
    margin-top: 12px;
    border-radius: 8px;
}

.orderCardActive {
    border-radius: 8px 8px 0 0;
    background-color: #F3FAFB;
}

.cardHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 24px;
    height: 100%;
    cursor: pointer;
    height: 80px;
}

.orderNumber {
    font-weight: 600;
    font-size: 24px;
}

.timeInterval {
    text-align: right;
    font-weight: 500;
    font-size: 20px;
}

.orderAbout {
    font-weight: 500;
    font-size: 16px;
}

.cancelOrderBtn {
    background: none;
    border: none;
    color: red;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    margin: 0 0 0 auto;
    opacity: .8;
}

.orderBody {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    background-color: #f3fafb;
    border-radius: 0 0 8px 8px;
}

.orderBodyWrapper {
    padding: 12px 24px;
}

.services {
    font-weight: 600;
    font-size: 24px;
}

.servicesWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}